@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");
.dark {
	/* Dark mode */
	background: #252526;
	color: $white;

	.title-1 {
		color: $white;
	}

	.project {
		background: $black;
		color: $white;
		box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
	}
}

html,
body {
	font-family: "DM Sans", sans-serif;
	letter-spacing: -0.5px;

	background-color: $page-bg;
	/* Light mode */
	color: $text-color;
	display: flex;
	flex-direction: column;
}

#root {
	min-height: 100vh;
}
.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.btn {
	display: inline-block;
	height: 48px;
	padding: 12px 28px;

	border-radius: 5px;
	background-color: $accent;
	color: $white;
	letter-spacing: 0.15px;
	font-size: 16px;
	font-weight: 500;

	transition: opacity 0.2s ease-in;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	position: relative;
	top: 1px;
}

/* Btn outline */

.btn-outline {
	display: flex;
	column-gap: 10px;
	align-items: center;

	height: 48px;
	padding: 12px 20px;

	border-radius: 5px;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;

	transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
	opacity: 0.8;
}

.btn-outline:active {
	position: relative;
	top: 1px;
}

@media (max-width: 620px) {
	/* General */

	.section {
		padding: 40px 0;
	}

	.title-1 {
		margin-bottom: 30px;
		font-size: 40px;
	}

	.title-2 {
		margin-bottom: 10px;
		font-size: 30px;
	}

	// /* Content List */

	// .content-list {
	// 	row-gap: 20px;
	// }

	// .content-list__item {
	// 	font-size: 16px;
	// }
}
